<div class="card" *ngIf="categoriesDetails$ | async as category">
  <div class="card-header">
    Category Detail
  </div>
  <div class="card-body" >
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-6">{{category.categories[0]}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Link:</div>
      <div class="col-md-6"><a [href]="category.url" target="_blank">{{category.categories[0]}}</a> </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img [src]="category.icon_url" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">Update At:</div>
        <div class="col-md-6">{{category.updated_at}}</div>
     </div>
     <div class="row">
        <div class="col-md-2">Description:</div>
        <div class="col-md-6">{{category.value}}</div>
      </div>
    <div class="row">
      <div class="col-md-2">Created At:</div>
      <div class="col-md-6">
        {{category.created_at}}
      </div>
    </div>
  </div>
</div>
