<div class="row">
  <div class="col-md-12">
    <div class="main-verification-input-wrap">
      <ul>
        <h1 style="font-size: 48px; font-weight: 400; margin: 2">Welcome!</h1>
        <li>Search for your jokes and people content here.</li>
      </ul>
      <div class="row" [formGroup]="searchForm">
        <div class="col-md-8">
          <input
            id="searchInput"
            type="text"
            formControlName="searchInput"
            placeholder="Search for jokes and people"
            class="form-control"
          />
        </div>
      </div>
      <br />
      <div *ngIf="searchContent != undefined">
        <div class="well search-result">
          <div class="row">
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
              <h3>Jokes</h3>
              <p>{{ searchContent?.jokeSearchResponse?.total }}</p>
              <div *ngFor="let joke of searchContent?.jokeSearchResponse?.result">
                <p>{{joke.value}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="well search-result">
            <div class="row">
              <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                <h3>People</h3>
                <p>{{ searchContent?.peopleApiResponse?.count }}</p>
                <div *ngFor="let people of searchContent?.peopleApiResponse?.results">
                  <p>{{people.name}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div
        class="well search-result"
        *ngIf="searchForm.dirty && searchContent === null"
      >
        <p>
          <a href="https://smartapartmentdata.com/" target="_blank"
            >Try Our Pro Search Site</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
